<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="MainTest"/>
            <class name="CountOfLinks"/>
            <class name="QueryInPageTitle"/>
            <class name="SearchQueryInResultsTitle"/>
        </classes>
    </test>
</suite>